html {
    margin: 0;
    padding: 0;
    width: 100%;
}
* {
    box-sizing: border-box;
}

body {
    font-family: 'Noto Sans JP', sans-serif;
    color: white;
    display: grid;
    grid-template-columns: 1fr 5fr;
    margin: 0;
}

header {
    font-family: 'Noto Sans JP', sans-serif;
    color:black;
    display: flex;
    flex-direction: column;
    align-items: center;
}

main {
    font-family: 'Noto Sans JP', sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 50px;
    background-color: black;
}

button {
    height: 40px;
    width: 150px;
    margin: 20px;
    background-color: black;
    border: 1px solid white;
    border-radius: 15px;
    font-family: 'Noto Sans JP', sans-serif;
    font-size:large;
    text-transform: uppercase;
    color: white;
    cursor: pointer;
}

button:hover {
    background-color: orange;
    color: black;
}


canvas {
    width: 75%;
    height: 500px;
    padding: 20px;
}

#caught-pokes {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
#caught-pokes > img {
    width: 120px;
}

#caught-pokes > img:hover {
    cursor: pointer;
}

#charts {
    display: flex;
    flex-direction: column;
    gap: 20px;
    text-align: center;
}